<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="/shows" method="post">
        {% csrf_token %}
        <label for="title">Title:</label>
        <input type="text" name="title" id="title">
        <label for="network">Network:</label>
        <input type="text" name="network" id="network">
        <label for="release_date">Release Date:</label>
        <input type="date" name="release_date" id="release_date">
        <label for="description">Description:</label>
        <input type="text" name="description" id="description">
        <input type="submit" value="Add Show">
    </form>
</body>
</html>