<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/shows/{{show.id}}/edit" method="post">
        {% csrf_token %}
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" value="{{show.title}}">
        <label for="network">Network:</label>
        <input type="text" name="network" id="network" value="{{show.network}}">
        <label for="release_date">Release Date:</label>
        <input type="date" name="release_date" id="release_date" value="{{show.release_date|date:'Y-m-d'}}">
        <label for="description">Description:</label>
        <input type="text" name="description" id="description" value="{{show.description}}">
        <input type="submit" value="Update Show">
    </form>
</body>
</html>